
@{
    ViewBag.Title = "Confirmation";
}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-md-12 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">We appreciate your message.</h1>
        </div>
        <div class="col-md-12 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">We understand your concerns and as a company, we want employees like you to be motivated and happy at work.</h1>
        </div>
        <div class="col-md-12 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">We are going to review the detail and we have already analyzed your message automatically to act quickly</h1>
        </div>
    </div>
</div>